@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --color_primario: #6495ed;
  --color_primario_suave: #add8e6;
  --color_blanco: #fff;
  --altura_header: 80px;
  --padding_left_rigth: 2rem;
  --ancho_maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Alata", sans-serif;
}

/*========= NAVBAR ==============*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  height: var(--altura_header);
  background-color: var(--color_primario);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 var(--padding_left_rigth);
}

.menu_hamburguesa {
  display: none;
}

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header));
}

.logo {
  color: var(--color_blanco);
}

.fa-solid {
  color: var(--color_blanco);
  font-size: 30px;
  cursor: pointer;
}

.ul_links {
  width: 100%;
  background-color: var(--color_primario_suave);
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: all 0.3s;
}

.li_links {
}

.links {
  font-size: 3rem;
  color: var(--color_blanco);
  font-weight: bold;
}
.logo img {
  height: 3.5rem; /* Establece la altura igual a la altura del NAVBAR */
  width: auto; /* Permite que el ancho se ajuste automáticamente para mantener la proporción */
}

/*========== RESPONSIVE NAVBAR =================*/
@media (min-width: 768px) {
  .label_hamburguesa {
    display: none;
  }
  .ul_links {
    position: static;
    width: auto;
    height: auto;
    background-color: var(--color_primario);
    flex-direction: row;
    gap: 2rem;
  }
  .links {
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  .links:hover {
    color: var(--color_primario_suave);
    padding: 0.2rem 0.7rem;
  }
}

/*=========== SLIDER ==============*/
.slider-container {
  overflow: hidden;
  width: 100%;
  margin-top: 80px;
  position: relative; /* Agrega posición relativa para alinear correctamente los botones absolutos */
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Agrega opacidad al fondo */
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s, background-color 0.3s; /* Agrega transición de color de fondo */
  padding: 10px; /* Ajusta el espacio interior */
  border-radius: 50%; /* Hace que los botones sean redondos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
}

.prev-button:hover,
.next-button:hover {
  color: var(--color_primario);
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Oscurece el fondo al pasar el mouse */
  transform: translateY(-50%) scale(1.2); /* Aplica un ligero zoom al pasar el mouse */
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

/*========== SLIDER RESPONSIVE ============*/
@media (max-width: 768px) {
  .prev-button,
  .next-button {
    font-size: 16px; /* Reduzca el tamaño de fuente en pantallas más pequeñas */
    padding: 8px; /* Ajusta el espacio interior */
  }
}

/*============== PRINCIPAL =====================*/

.left {
  flex: 1;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  order: 1; /* Cambia el orden en dispositivos más pequeños */
}

.right {
  flex: 2;
  text-align: justify;
  margin-left: 40px; /* Espacio entre la imagen y el texto */
  order: 2; /* Cambia el orden en dispositivos más pequeños */
}

.content-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px;
}

.content-home h1 {
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

.content-home h2 {
  margin: 50px 0;
  font-size: 25px;
  text-align: center;
}

.content-home p {
  font-size: 25px;
  text-align: justify;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se ajusten correctamente */
}

.content-home img {
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
  border-radius: 20px;
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  .content-home {
    margin: 20px; /* Reduce el margen para pantallas pequeñas */
  }

  .content-home p {
    margin: 0 10px; /* Ajusta el margen para pantallas pequeñas */
  }

  .container {
    flex-direction: column;
    align-items: center; /* Centra los elementos en pantallas pequeñas */
  }

  .left,
  .right {
    margin-left: 0;
  }

  .left {
    order: 2; /* Cambia el orden en dispositivos más pequeños */
  }

  .right {
    order: 1; /* Cambia el orden en dispositivos más pequeños */
  }

  .content-home img {
    width: 100%;
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    height: auto;
    border-radius: 20px;
  }
}

/*===========PRODUCTOS =============*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 150px; /* Ajusta según sea necesario */
  border-radius: 10px;
  margin-top: 60px;
}

.productos-imagenes {
  flex: 0 0 calc(20% - 20px); /* Ajusta el ancho de las imágenes y el espacio entre ellas */
  margin: 10px; /* Espacio entre las imágenes */
}

.imagen-contenedor {
  position: relative;
  overflow: hidden;
  background-color: var(--color_primario_suave);
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.imagen-contenedor img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Efecto de transición al pasar el mouse */
  margin-bottom: 50px;
}

.informacion-tarjeta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color_primario); /* Fondo oscuro semi-transparente */
  color: #fff; /* Color del texto */
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: opacity 0.3s ease; /* Efecto de transición de opacidad */
  opacity: 0.8; /* Ocultar inicialmente */
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  font-size: calc(
    10px + 0.3vw
  ); /* Ajusta el tamaño del texto de manera dinámica */
}

.imagen-contenedor img:hover {
  cursor: pointer;
  transform: scale(1.05); /* Aplica un ligero zoom al pasar el mouse */
}

.imagen-contenedor:hover .informacion-tarjeta {
  cursor: pointer;
  opacity: 1; /* Mostrar al pasar el mouse */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 900px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Cambiar a center para centrar el contenido */
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    border-radius: 10px;
  }

  .productos-imagenes {
    flex: 0 0 calc(50% - 20px); /* Reducir el ancho de las imágenes para que se muestren dos en una fila */
    margin: 10px; /* Espaciado alrededor de las imágenes */
  }

  .productos-imagenes:nth-child(odd) {
    margin-left: 0; /* Elimina margen izquierdo */
    margin-right: 0; /* Elimina margen derecho */
    text-align: center; /* Asegura que la imagen esté centrada */
  }
}

/*============ INSTALACION ===============*/

.instalacion {
  text-align: justify;
  margin: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Ajustes para dispositivos grandes */
.instalacion-item {
  flex: 0 0 calc(50% - 20px); /* Ajuste para que cada item ocupe el 50% del contenedor menos márgenes */
  box-sizing: border-box;
  margin-bottom: 40px; /* Espacio entre los items verticalmente */
}

.instalacion h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}

.instalacion img {
  display: block;
  margin: 0 auto 20px; /* Centra la imagen horizontalmente y agrega un margen inferior */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; /* Asegura que la imagen cubra el área circular correctamente */
  transition: transform 0.3s ease; /* Transición suave para el zoom */
}

.instalacion img:hover {
  transform: scale(1.1); /* Ligero zoom al pasar el mouse */
}

.instalacion p {
  text-align: justify;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 900px) {
  .instalacion {
    margin: 0; /* Elimina márgenes exteriores para maximizar el uso del espacio */
  }

  .instalacion-item {
    flex: 0 0 100%; /* Hace que cada item ocupe el 100% del contenedor */
    margin-bottom: 20px; /* Espacio entre los items verticalmente */
  }

  .instalacion img {
    margin-bottom: 10px; /* Ajusta el margen inferior para un mejor espaciado en pantallas pequeñas */
    width: 200px; /* Restaura el ancho de la imagen */
    height: 200px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
  }

  .instalacion p {
    margin: 0 10px; /* Ajusta el margen para maximizar el uso del espacio de pantalla */
  }
}

/* ========== MONITOREO =========== */

.monitoreo {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url("img/central.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 130vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px; /* Ajuste de padding para proporcionar espacio interior */
  box-sizing: border-box;
  text-align: center; /* Asegura que el texto esté centrado */
}

.monitoreo h3 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.monitoreo p {
  text-align: justify;
  margin: 10px 0;
  max-width: 90%; /* Limita el ancho máximo del párrafo */
}

.monitoreo img {
  width: 80%;
  height: auto;
  max-width: 800px; /* Asegura que la imagen no exceda un cierto tamaño */
  margin: 20px 0;
}

.monitoreo a {
  font-size: 2.5rem;
  color: var(--color_primario_suave);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8),
    -10px -10px 20px rgba(255, 255, 255, 0.5);
  margin: 90px 0;
  max-width: 90%; /* Limita el ancho máximo del enlace */
  word-break: break-word; /* Asegura que el texto largo se ajuste */
  transition: transform 0.3s, color 0.3s; /* Agrega transiciones para suavizar los cambios */
}

.monitoreo a:hover {
  color: var(
    --color_primario
  ); /* Cambia el color al color primario al pasar el mouse */
  transform: scale(1.1); /* Aplica un ligero zoom al pasar el mouse */
}

.monitoreo i {
  color: var(--color_primario_suave);
  font-size: 3rem;
  margin: 20px 0;
}

.monitoreo i:hover {
  color: var(
    --color_primario
  ); /* Cambia el color al color primario al pasar el mouse */
  transform: scale(1.1); /* Aplica un ligero zoom al pasar el mouse */
}

@media (max-width: 900px) {
  .monitoreo {
    height: auto; /* Permite que el contenedor crezca según el contenido */
    padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
  }

  .monitoreo h3 {
    font-size: 2rem;
  }

  .monitoreo a {
    font-size: 2rem;
  }

  .monitoreo i {
    font-size: 2.5rem;
  }
}

/*=========== SERVICIOS ============*/
#servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#servicios h2 {
  font-size: 50px;
  margin-top: -60px; /* Ajusta el margen superior para superponer el título */
}

#servicios a {
  text-decoration: none;
  color: black;
}

.titulo-servicios {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.servicio {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; /* Centra el contenido horizontalmente */
}

.servicio img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s, color 0.3s;
}

.servicio img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.servicio h3 {
  font-size: 20px;
  margin-top: 10px;
}

.servicio p {
  font-size: 16px;
  margin-top: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  #servicios {
    justify-content: center;
    margin-top: 90px; /* Ajusta el margen superior para pantallas pequeñas */
  }

  .servicio {
    width: calc(50% - 20px); /* Dos tarjetas por fila */
  }
}

/*========== CONTACTO =================*/
/* Estilo general para el contenedor */
.contacto {
  background: linear-gradient(
      to top,
      rgba(106, 200, 254, 0.8),
      rgb(7, 126, 195)
    ),
    url("img/wallpaper.webp");
  background-size: cover; /* Asegura que el fondo cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  color: #fff;
  display: flex; /* Añadido display: flex */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px; /* Ajuste de padding para proporcionar espacio interior */
  box-sizing: border-box;
  text-align: center; /* Asegura que el texto esté centrado */
  width: 100%;
  min-height: 70vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
}

.contacto h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.contacto p {
  margin-bottom: 20px;
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap; /* Para reorganizar en pantallas pequeñas */
}

.contacto-form {
  max-width: 45%;
  flex: 1;
  min-width: 250px;
  margin: 0 auto;
  text-align: center;
}

.contacto-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"],
.contacto-form input[type="tel"],
.contacto-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.contacto-form input[type="text"]:focus,
.contacto-form input[type="email"]:focus,
.contacto-form input[type="tel"]:focus,
.contacto-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.contacto-form textarea {
  height: 100px;
}

.contacto-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto; /* Centra el botón de envío */
  font-size: 20px;
}

.contacto-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.contacto-img {
  flex: 1;
  text-align: center;
}

.contacto-img img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.contacto-whatsapp {
  margin-top: 20px;
  text-align: center;
}

.whatsapp-btn {
  background-color: #25d366;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}

.whatsapp-btn:hover {
  background-color: #128c7e;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 900px) {
  .contacto-container {
    flex-direction: column;
    align-items: center;
  }

  .contacto-form {
    max-width: 90%;
    margin-bottom: 20px;
  }

  .contacto-img,
  .contacto-whatsapp {
    text-align: center;
  }

  .contacto-img img {
    margin: 0 auto;
    max-width: 90%;
  }

  .whatsapp-btn {
    width: 100%;
  }
}

/*============= FOOTER ==============*/
footer {
  background-color: #333; /* Fondo gris */
  color: #fff; /* Letra blanca */
  padding: 20px 0; /* Espaciado interior */
  display: flex; /* Mostrar elementos como fila */
  justify-content: center; /* Centrar elementos horizontalmente */
}

.info-contacto {
  display: flex; /* Mostrar columnas */
}

.info-contacto p {
  margin: 0 80px; /* Espacio entre los elementos de texto */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .info-contacto p {
    margin: 0 20px; /* Espacio entre los elementos de texto */
    font-size: 2vw;
  }
}
