@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  background-color: #ffffff;
  font-family: "Alata", sans-serif;
  margin: 0;
  padding: 0;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.fondo img {
  max-width: 40%;
  height: auto;
}

.mensaje h1 {
  color: #6495ed;
  font-size: 48px;
  margin: 20px 0;
}
.mensaje h3 {
  color: #6495ed;
  font-size: 28px;
  margin: 20px 0;
}

.mensaje a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  margin: 20px 0;
}

.mensaje a:hover {
  color: #4169e1;
}

@media (max-width: 900px) {
  .mensaje h1 {
    font-size: 6vw;
  }
  .mensaje h3 {
    font-size: 4vw;
    margin: 0 50px;
  }

  .mensaje a {
    font-size: 4vw;
  }

  .fondo img {
    width: 80vw;
    margin: 20px 0;
  }
}
