:root {
  --color-primario: #6495ed;
  --color-primario-suave: #add8e6;
  --color-blanco: #fff;
  --altura-header: 80px;
  --padding-left-right: 2rem;
  --ancho-maximo: 1200px;
}

body {
  font-family: "Alata", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/wallpaper.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

.product-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 1200px;
}

.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  width: calc(25% - 2rem);
  box-sizing: border-box;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.product:hover {
  box-shadow: 0 0 15px #6495ed;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(3);
}

.cotizar {
  background-color: #333;
  color: var(--color-blanco);
  text-align: center;
  padding: 20px;
}

.cotizar h1 {
  font-size: 30px;
  font-weight: normal;
}

.cotizar button {
  background-color: var(--color-primario);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 20px;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cotizar button:hover {
  background-color: var(--color-primario-suave);
}

.cotiza {
  max-width: 600px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.cotiza h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group span {
  display: block;
  padding: 0.5rem;
  font-size: 2rem;
  color: #333;
}

.label {
  display: block;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  font-size: 20px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.cotiza button {
  background-color: var(--color-primario);
  color: white;
  font-size: 30px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
}

.cotiza button:hover {
  background-color: var(--color-primario-suave);
}

.volver {
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 600px;
}

.volver h1 {
  margin-bottom: 1rem;
}

.volver a {
  color: #6495ed;
  font-size: 2rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .cotiza,
  .volver {
    width: 90%;
    margin: 1rem auto;
  }
}

.instalacion {
  text-align: justify;
  margin: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instalacion-item {
  flex: 0 0 calc(50% - 20px);
  box-sizing: border-box;
  margin-bottom: 40px;
}

.instalacion h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}

.instalacion img {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.instalacion img:hover {
  transform: scale(1.1);
}

.instalacion p {
  text-align: justify;
  font-size: 25px;
}

.more-info-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-info-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 900px) {
  .instalacion {
    margin: 20px;
  }

  .instalacion-item {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .instalacion img {
    margin-bottom: 10px;
    width: 70%;
    height: auto;
  }

  .instalacion p {
    margin: 0 10px;
  }
}

.contacto {
  background-color: #333;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.contacto-container {
  display: flex;
  justify-content: center;
 
